<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header.html :: header(#{user.edit})"></head>
<body>
<div class="container">
    <h1 class="text-center mb-3" th:text="#{user.edit}"></h1>
    <div class="card">
        <div class="card-body center-block">
            <form class="row" method="post" th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name" th:text="#{user.form.name}"></label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter name">
                        <p class="is-invalid" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="email" th:text="#{user.form.email}"></label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email">
                        <p class="is-invalid" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary" th:text="#{common.form.submit}"></button>
                    <a th:href="@{/user}" class="btn btn-secondary" th:text="#{common.form.back}"></a>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layouts/footer.html :: footer"></footer>
</body>
</html>